{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "consistent-return": "error",
    "no-param-reassign": "error",
    "comma-dangle": 1,
    "curly": ["error", "multi-line"],
    "import/no-unresolved": [
      2,
      {
        "commonjs": true
      }
    ],
    "no-shadow": [
      "error",
      {
        "allow": ["req", "res", "next", "err"]
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ]
  }
}
